<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Dados do cheque</div>
        <form [formGroup]="editForm" (ngSubmit)="saveChanges(response.id, editForm.get('edit').value)">
          <div class="row">
            <div class="col-md-6 line-height-1">
              <p><strong>Responsável:</strong> {{response.responsible}}</p>
              <p><strong>Número:</strong> {{response.number}}</p>
              <p><strong>Status:</strong> {{Status[response.status]}}</p>
            </div>
          </div>
          <hr class="mt-2 mb-3">
          <div class="row">
            <div class="col-md-3 form-group mb-3">
              <label for="data">Data do pagamento</label>
              <div class="input-group">
                <input id="data" class="form-control form-control-rounded" placeholder="dd/mm/aaaa" name="dp" mask="00/00/0000"
                       formControlName="edit" required>
              </div>
              <span class="text-small text-danger ml-1" *ngIf="editForm.invalid && editForm.dirty">Data inválida</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <btn-loading btnClass="btn-primary btn-rounded" [loading]="isLoading" [loadingText]="'Salvando'"
                           [disabled]="editForm.invalid">Salvar Alterações</btn-loading>
              <button type="button" class="btn btn-danger btn-rounded m-1" (click)="confirm(modalConfirm)">Apagar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Apagar cheque</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Você tem certeza que deseja apagar este cheque?</strong></p>
    <div class="line-height-0">
      <p>Toda informação associada a ele será permanentemente apagada.</p>
      <span class="text-danger">Essa operação não pode ser desfeita.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancelar</button>

    <btn-loading btnClass="btn-danger btn-rounded" [loading]="isLoading" [loadingText]="'Apagando'" (click)="checkDelete(response.id)" >Quero!</btn-loading>
  </div>
</ng-template>
