<div class="main-header">
    <a class="logo" routerLink="/check-management/outstanding">
        <img src="./assets/images/logo.png" alt="">
    </a>

    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="m-auto"></div>

    <div class="header-part-right">
        <i fullScreenWindow class="i-Power-2 header-icon d-none d-sm-inline-block" role="button" (click)="signout()"></i>
    </div>

</div>
